version: "3.9"

services:
  app:
    image: elixir:latest
    container_name: not_reddit
    working_dir: /app
    tty: true
    stdin_open: true
    env_file:
      - .env
    volumes:
      - ".:/app/"
    ports:
      - "4000:4000"

  db:
    image: "postgres:10.15-alpine"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5431:5432"
