<h5><%= @topic.title %></h5>
<div class="input-field">
  <textarea id="comment-input" id="" cols="30" rows="10" class="materialize-textarea"></textarea>
  <button class="btn" id="add-comment">Add comment</button>
  <ul class="collection" id='comment-section'>
  </ul>
</div>
<script>
  document.addEventListener("DOMContentLoaded",()=>{
    window.createSocket(<%= @topic.id %>)
  })
</script>